<h2>Successfully Created a Critic Review for "<%= @event.name %>"</h2>

<div>
  <%= link_to "Return to Event", @event %>
  <%= link_to "Add another review", new_admin_event_media_review_path %>
</div>

<%= render "media_reviews/media_review", media_review: @media_review %>

<div>
  <p>This text was analyzed: </p>

  <%= simple_format(@analyzed_text) %>
</div>

