<h2><%= @event.name %></h2>

<h3>Add a Media Review</h3>

<%= form_for [:admin, @event, @media_review] do |form| %>
  <%= render "media_review_form", form: form %>

  <div>
    <%= form.label :review_text %>
    <%= text_area_tag :media_review_text %>
  </div>
  <div>
    <%= form.submit "Add Media Review" %>
  </div>
<% end %>
