<h2>Current Events</h2>

<div class="events">
  <%= render @current_events %>
</div>

<h2>Closed Events</h2>

<div class="events">
  <%= render @closed_events %>
</div>

<div>
  <h2>NYT Events</h2>

  <%= @nyt_events_result.status %><br />
  <%= @nyt_events_result.copyright %><br />
  <%= @nyt_events_result.num_results %><br />
  <%= @nyt_events_result.events.inspect %><br />
  <%= @nyt_events_result.events[0].event_name %>
</div>
