<div class="event-information">
  <h2><%= @event.name %></h2>

  <div>
    <%= render "event_preferences/links", event: @event %>
  </div>

  <div>
    <%= render "event_statistics", event: @event %>
  </div>

  <p>
    <em>Description:</em> <%= @event.description %>
  </p>

  <p>
    <em>Venue:</em> <%= @event.venue %>
  </p>

  <p>
    <em>Closing Date:</em> <%= @event.closing_date %>
  </p>
</div>

<div class="user-reviews">
  <h3>User Reviews</h3>

  <% if current_user.can_review?(@event) %>
    <%= link_to "Write a Review", new_event_user_review_path(@event) %>
  <% end %>

  <%= render @event.user_reviews %>
</div>

<div class="media-reviews">
  <h3>Media Reviews</h3>

  <% if current_user.admin? %>
    <%= link_to "Add a Media Review", new_admin_event_media_review_path(@event) %>
  <% end %>

  <%= render @event.media_reviews %>
</div>
