<div class="event-information">
  <h2><%= @event.name %></h2>

  <p>
    <em>Description:</em> <%= @event.description %>
  </p>

  <p>
    <em>Venue:</em> <%= @event.venue %>
  </p>

  <p>
    <em>Closing Date:</em> <%= @event.closing_date %>
  </p>
</div>

<div class="user-reviews">
  <h3>User Reviews</h3>

  <% if current_user.can_review?(@event) %>
    <%= link_to "Write a Review", new_event_user_review_path(@event) %>
  <% end %>

  <%= render @event.user_reviews %>
</div>
