<div class="review user-review">
  <div class="review-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
  </div>
  <div class="review-content">
    <h4>Review by <%= format_user_name(user_review.user) %></h4>

    <p><em>Rating:</em> <%= number_as_stars(user_review.rating) %></p>

    <p><%= user_review.body %></p>

    <p class="review-detail">Reviewed <%= time_ago_in_words user_review.created_at %> ago.</p>

    <% if current_user.admin? %>
      <div class="review-modify-links">
        <%= link_to "Edit", edit_admin_user_review_path(user_review) %>
        <%= link_to "Delete", admin_user_review_path(user_review), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div>
