<%= render "errors", object: form.object %>

<div>
  <%= form.label :rating %>
  <%= form.select :rating, options_for_select(0..10, form.object.rating) %>
</div>
<div>
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>
