<div class="review user-review">
  <%= review_score_block(user_review.score) %>

  <div class="review-content">
    <h4>Review by <%= format_user_name(user_review.user) %></h4>

    <p><%= user_review.body %></p>

    <p class="review-detail">Reviewed <%= time_ago_in_words user_review.created_at %> ago.</p>

    <%= edit_links_for(user_review) %>
  </div>
</div>
