<div class="review media-review">
  <%= review_score_block(media_review.score) %>

  <div class="review-content">
    <h4><%= link_to media_review.headline, media_review.url %></h4>

    <p class="review-detail"><%= media_review.source %> review by <%= media_review.author %></p>

    <% if current_user.admin? %>
      <div class="review-modify-links">
        <%= link_to "Edit", edit_admin_media_review_path(media_review) %>
        <%= link_to "Delete", admin_media_review_path(media_review), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div>
