<div class="media-review">
  <%= media_review.source %>:
  <%= link_to media_review.headline, media_review.url %>
  (by <%= media_review.author %>)
  [+<%= media_review.sentiment_positive %>,
  -<%= media_review.sentiment_negative %>,
  ~<%= media_review.sentiment_neutral %>]

  <% if current_user.admin? %>
    <%= link_to "Edit", edit_admin_media_review_path(media_review) %>
    <%= link_to "Delete", admin_media_review_path(media_review), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
